
@font-face {
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  font-style: normal;
  src: local("Heebo-Light"),
    url("../fonts/Heebo-Light.woff2") format("woff2"),
    url("../fonts/Heebo-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("Heebo-Bold"),
    url("../fonts/Heebo-Bold.woff2") format("woff2"),
    url("../fonts/Heebo-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Yantramanav", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("Heebo-Bold"),
    url("../fonts/Yantramanav-Bold.woff2") format("woff2"),
    url("../fonts/Yantramanav-Bold.woff") format("woff");
  font-display: swap;
}
